<!DOCTYPE html>
<html lang="en" dir="ltr">

<!-- * HEAD -->
<%- include(`../partials/head`) -%>

<!-- * BODY -->

<body>

    <!-- * Header -->
    <%- include(`../partials/header`) -%>

    <!-- * Main -->
    <main class="main--post">
        <h1><%-postTitle%></h1>
        <p><%-postBody%></p>
    </main>

    <!-- * Footer -->
    <%- include(`../partials/footer`) -%>

    <script src="../javascript/client/calendar.js"></script>
</body>

</html>

