<!DOCTYPE html>
<html lang="en" dir="ltr">

<!-- * HEAD -->
<%- include(`../partials/head`) -%>

<!-- * BODY -->

<body>

    <!-- * Header -->
    <%- include(`../partials/header`) -%>

    <!-- * Main -->
    <main class="main--post">
        <h1><%-postTitle%></h1>
        <p><%-postBody%></p>
        <div class="main--post--buttons">
            <form action="/edit/<%=postDate%>" method="GET" class="main--post--buttons--edit form-group">
                <button class="btn btn-primary" name="submit" type="submit" onclick="calendarJS.editReroute('<%=postDate%>')">Edit</button>
            </form>
            <form action="/delete/<%=postDate%>" method="POST" class="main--post--buttons--delete form-group">
                <button class="btn btn-primary" name="draft" type="submit" onclick="calendarJS.deleteReroute('<%=postDate%>')">Delete</button>
            </form>
        </div>
    </main>


    <!-- * Footer -->
    <%- include(`../partials/footer`) -%>

    <script src="../javascript/client/calendar.js"></script>
</body>

</html>