<!DOCTYPE html>
<html lang="en" dir="ltr">

<!-- * HEAD -->
<%- include(`../partials/head`) -%>

<!-- * BODY -->

<body>

    <!-- * Header -->
    <%- include(`../partials/header`) -%>

    <!-- * Main -->
    <main class="main">
        <div class="main--deleted">

        </div>
    </main>


    <!-- * Footer -->
    <%- include(`../partials/footer`) -%>

    <script>
        let deletedDB = <%-entryDBProxy%>;
    </script>
    <script src="../javascript/client/deleted.js"></script>

    <!-- <script>
        deletedJS.buildAllDeletedHTML( <%-entryDBProxy%> );
    </script> -->
</body>

</html>