<!DOCTYPE html>
<html lang="en" dir="ltr">

<!-- * HEAD -->
<%- include(`../partials/head`) -%>

<!-- * BODY -->

<body>

    <!-- * Header -->
    <%- include(`../partials/header`) -%>

    <!-- * Main -->
    <main class="main--compose">
        <!-- <h1>Compose</h1> -->
        <form action="/edit" method="POST" class="main--compose--form">
            <div class="main--compose--form--header">
                <div class="main--compose--form--header--title form-group">
                    <!-- <label class="form-label" for="title">Title</label> -->
                    <input class="form-control compose-title" id="title" name="title" type="text" placeholder="Write your title here..." value="<%=postTitle%>">
                </div>
            </div>
            <div class="main--compose--form--body">
                <div class="main--compose--form--body--left">
                    <div class="main--compose--form--body--left--body form-group">
                        <textarea class="form-control compose-body" id="body" name="body" placeholder="Write your thoughts here..."><%=postBody%></textarea>
                    </div>
                </div>
                <div class="main--compose--form--body--right">
                    <div class="main--compose--form--body--right--date form-group">
                        <input class="form-control compose-date" id="date" name="date" type="date" value="<%=date%>">
                        <i class="fa-solid fa-calendar-days"></i>
                    </div>
                    <div class="main--compose--form--body--right--theme form-group">
                        <select class="form-select compose-theme" id="theme" name="theme" aria-label="Default select example">
                            <option selected disabled>Select Theme</option>
                            <option value="bloodthirst">Bloodthirst</option>
                            <option value="inferno">Inferno</option>
                            <option value="radiance">Radiance</option>
                            <option value="evergreen">Evergreen</option>
                            <option value="frostbite">Frostbite</option>
                            <option value="pacific">Pacific</option>
                            <option value="oblivion">Oblivion</option>
                        </select>
                    </div>

                </div>
            </div>
            <div class="main--compose--form--footer">
                <div class="main--compose--form--footer--submit form-group">
                    <button class="btn btn-primary compose-submit" name="submit" type="submit">Publish</button>
                </div>
                <div class="main--compose--form--footer--draft form-group">
                    <button class="btn btn-primary compose-draft" name="draft" type="submit">Draft</button>
                </div>
            </div>
        </form>
    </main>

    <!-- * Footer -->
    <%- include(`../partials/footer`) -%>

    <!-- <script src="../javascript/client/calendar.js"></script> -->
</body>

</html>